body {
  font-family: sans-serif;
  background-color: rgb(178, 192, 153);
}

.mi-header {
  background-color: rgb(23, 61, 19);
  color: white;
  padding: 20px;
  text-align: center;
}

.contenedor-titulo {
  margin-left: 100px;
}

.item-lista-transparente {
  background-color: transparent !important;
  border: none !important;
}
.navbar-personalizado {
  background-color: #5f7260 !important;
}
.tarjeta-huerta {
  background-color: rgb(247, 223, 171);
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(180, 150, 110, 0.6);

  /* ALTURA FIJA PARA TODAS LAS TARJETAS */
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

p {
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-style: normal;
}

/* Unifica todas las imágenes para que usen la clase .ficha-img */
.ficha-img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
  border-radius: 8px 8px 0 0 !important;
  display: block !important;
}

.logo-circular {
  width: 100px;
  height: 100px;
  border-radius: 70%;
  object-fit: cover;
  border: 3px solid rgb(97, 92, 92);
}
/* Contenedor principal - Burbuja grande 
#beneficios-container {
  background-color: #ecf5ec !important;
  padding: 50px !important;
  margin: 40px auto !important;
  max-width: 900px !important;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50% !important;
  border: 6px solid #b6e9b9 !important;
  box-shadow: 10px 10px 0px rgba(46, 125, 50, 0.1) !important;
  /* ayuda a que el contenedor se adapte al contenido interno 
  overflow: hidden !important;
}

/* Estilos de las burbujas internas */
.burbuja-1,
.burbuja-2,
.burbuja-3,
.burbuja-4 {
  display: inline-block;
  padding: 15px 25px;
  background: rgb(151, 201, 176);
  border: 2px solid #2e7d32;
  margin: 10px;
  box-shadow: 4px 4px 0px rgba(46, 125, 50, 0.2);
  transition: transform 0.3s ease;
}

.burbuja-1:hover,
.burbuja-2:hover,
.burbuja-3:hover,
.burbuja-4:hover {
  transform: scale(1.05);
}

/* Formas irregulares */
.burbuja-1 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.burbuja-2 {
  border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
}
.burbuja-3 {
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}
.burbuja-4 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.contenedor-foto {
  width: 100%;
  max-height: 150px; /* Esto es lo más importante: altura fija */
  object-fit: cover;
  overflow: hidden;
}

/* Ajuste de contenedor y visualización completa */
.contenedor-pie {
  width: 100%;
  height: 15vh; /* Ajusta valor si quiero que sea más o menos alto */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Un color de fondo para los huecos que queden */
}

.contenedor-pie img {
  width: 100%;
  height: 100%;
  /* 'contain' hace que la imagen completa quepa dentro, sin recortar nada */
  object-fit: contain;
}
